#include "src/resource.h"

1 24 "resources/app.manifest"

IDI_APPICON ICON "resources/exray-icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    EXRAY_VERSION_MAJOR, EXRAY_VERSION_MINOR, EXRAY_VERSION_PATCH, 0
PRODUCTVERSION EXRAY_VERSION_MAJOR, EXRAY_VERSION_MINOR, EXRAY_VERSION_PATCH, 0
FILEFLAGSMASK  0x3fL
FILEFLAGS      0
FILEOS         0x40004L
FILETYPE       0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "EXRay contributors"
            VALUE "FileDescription",  "EXRay - EXR Image Viewer"
            VALUE "FileVersion",      EXRAY_VERSION_STR
            VALUE "InternalName",     "EXRay"
            VALUE "LegalCopyright",   EXRAY_COPYRIGHT
            VALUE "OriginalFilename", "EXRay.exe"
            VALUE "ProductName",      "EXRay"
            VALUE "ProductVersion",   EXRAY_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O",       IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",          IDM_FILE_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Fit to Window\tCtrl+0", IDM_VIEW_FIT
        MENUITEM "&Actual Size\tCtrl+1",   IDM_VIEW_ACTUAL
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About EXRay",          IDM_HELP_ABOUT
    END
END

IDR_ACCELERATORS ACCELERATORS
BEGIN
    "O",  IDM_FILE_OPEN,   VIRTKEY, CONTROL
    "0",  IDM_VIEW_FIT,    VIRTKEY, CONTROL
    "1",  IDM_VIEW_ACTUAL, VIRTKEY, CONTROL
END
